.btn-wrap {
  a {
    font-size: 17px;
    background-color: #5332ec;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 5px;
    display: block;
    width: 200px;
    text-align: center;
    margin: 0 auto;
  }
  .about-btn {
    margin-top: 20px;
  }
}