@import '../../index.scss';

.header-wrap {
  background-color: $bg-wt;
  display: flex;
  padding: 8px 20px;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  max-width: 1600px;
  box-shadow: 0px 1px 7px #00000052;
  .logo-wrap {
    img {
      width: 50px;
    }
  }
  .nav-option {
    margin: 0 auto;
    display: flex;
    li {
      list-style-type: none;
      padding-left: 30px;
      a {
        text-decoration: none;
        color: $df-color;
      }
      a:hover {
        color: $sp-color;
      }
    }
  }
  .cta-wrap {
    a {
      width: fit-content;
      font-size: 16px;
      text-decoration: none;
      display: block;
      border: 1px solid $sp-color;
      color: $sp-color;
      border-radius: 5px;
      padding: 6px 12px;
      font-weight: 600;
    } 
    a:hover {
      background-color: $sp-color;
      color: #ffffff;
    }
  }
  .hand-burder {
    display: none;
  }
  .hand-burder {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    img {
      width: 28px;
    }
  }
  .mobile-nav {
    display: none;
  }
  .gg-overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.256);
    position: fixed;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 90;
    display: none;
  }
  .close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    img {
      width: 20px;
    }
  }
  .close-icon {
    display: none;
  }
  .nav-wrap {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .gg-overlay.show-overlay {
    display: block;
  }
  @media screen and (max-width: 590px) {
    .close-icon {
      display: block;
    }
    .hand-burder {
      display: block;
    }
    // .nav-option {
    //   display: none;
    // }
    // .cta-wrap {display: none;}
    .nav-wrap {
      position: fixed;
      left: -220px;
      top: 0;
      background-color: #ffffff;
      height: 100vh;
      width: 200px;
      z-index: 95;
      display: block;
      transition: 0.5s;
      box-shadow: 0 2px 7px #00000052;
      ul {
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        li {
          padding: 10px 0;
          margin-left: 0;
          padding-left: 0;
        }
        a {
          font-size: 20px;
        }
      }
      .cta-wrap {
        margin: 0 auto;
        text-align: center;
        a {
          margin: 10px auto 0;
        }
      }
    }
    .nav-wrap.open-wrap {
      left: 0;
    }
  }
}